@import url("https://fonts.googleapis.com/css2?family=Lora:ital@1&family=Noto+Sans:wght@700&family=Poppins:wght@200&family=Roboto&family=Work+Sans:wght@300&display=swap" rel="stylesheet");
body {
	font-family:'Poppins', sans-serif;
     background-image: url(https://static.vecteezy.com/system/resources/previews/002/307/694/large_2x/watercolor-pastel-background-hand-painted-aquarelle-colorful-stains-on-paper-vector.jpg);
     background-size: cover;
}
h1,h2,h3,a {
	font-family: 'Work Sans' , 'sans-serif';
}
h1,h2 {
	color:#C70039;
	text-align: center;
}

a{
	text-decoration: none;
}
.presentation{
	background-color: white;
	padding: 48px;
	margin:16px auto;
	width:700px;
	border-radius: 6px;
	box-shadow: 1px 1px 6px 2px #0000007d;
	text-align:center;
}
.contact{
	background-color: white;
	padding:5%;
	width:90%;
	border-radius: 6px;
	box-shadow: 1px 1px 6px 2px #0000007d;
}

.experiences{
	background-color: white;
	padding: 48px;
	margin:16px auto;
	width:700px;
	border-radius: 6px;
	box-shadow: 1px 1px 6px 2px #0000007d;
}

.experiences img {
	height: 60px;
}

.formation,.comptences{
	background-color: white;
	padding: 48px;
	margin:16px auto;
	width:700px;
	border-radius: 6px;
	box-shadow: 1px 1px 6px 2px #0000007d;
}

.competences{
	background-color: white;
	padding: 48px;
	margin:16px auto;
	width:700px;
	border-radius: 6px;
	box-shadow: 1px 1px 6px 2px #0000007d;
}


.follow{
	background-color: white;
	padding:5%;
	width:90%;
	border-radius: 6px;
	box-shadow: 1px 1px 6px 2px #0000007d;
	text-align: center;
	justify-self: end;
}
.cards-flex {
	display:grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 16px;
	width: 796px;
    margin: 0 auto;
}

.img-circle{
	border-radius: 50%;
	height :150px;
	width:150px;
	object-fit: cover;
}

.btn-blue{
	background-color: #DB557A;
	color:white;
	padding:16px;
	border-radius:6px;
	font-weight:bold;
	border-radius: 6px;
	margin: 0 auto;
	display:block;
	width: 25%;
	border:1px solid #DB557A;
	transition:1s;
}
.btn-blue:hover{
	background-color: white;
	color:#DB557A;
	transition: 1s;
}

.reseaux li{
	display: inline;
	padding:0;
}
.reseaux a{
	font-size: 48px;
	color:rgba(0,0,0,0.3);
}
.reseaux a:hover{
	color:#C70039;
}

.titre-red{
	background-color: #91283B;
	color:white;
	padding:16px;
	border-radius:6px;
	font-weight:bold;
	border-radius: 6px;
	display:block;
	width: 15%;
	border:1px solid #91283B;
	text-align:center;
}
